.input {
  height: 28px;
  padding: 0 8px 8px;
  border: none;
  border-bottom: 3px solid #000;
  font-size: 0.6rem;
  transition: 0.3s ease border-bottom, 0.3s ease background-color,
    0.3s ease opacity;
  width: 100%;
}

.input:focus {
  border-bottom: 3px solid var(--decor-color);
}

.input:disabled {
  background-color: #d6d7d9;
  opacity: 0.4;
}

.error {
  border-bottom: 3px solid var(--danger-color);
}

.error_message {
  font-size: 0.6rem;
  line-height: 100%;
  color: var(--danger-color);
  margin-top: 15px;
  min-height: 0.6rem;
}
