.input {
  margin: 4px 0;
  height: 28px;
  padding: 0 1px 5px;
  border: none;
  border-bottom: 1px solid rgb(105, 105, 105);
  font-size: 0.6rem;
  transition: 0.3s ease border-bottom, 0.3s ease background-color,
    0.3s ease opacity;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
}

.input:focus {
  border-bottom: 1px solid var(--decor-color);
}

.input:disabled {
  background-color: #d6d7d9;
  opacity: 0.4;
}

.error {
  border-bottom: 1px solid var(--danger-color);
}

.error_message {
  font-size: 11px;
  line-height: 13px;
  color: var(--danger-color);
  margin-top: 5px;
}
 
@media (max-width: 500px) {
  .error_message {
    margin-top: 5px;
  }
}

@media (max-width: 380px) {
  .error_message {
    font-size: 10px;
    margin-top: 4px;
  }
}
