.menu {
  border-bottom: 2px solid var(--decor-grey);
  /* border-bottom: 2px solid #e0e1e4; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
  font-size: 11px;
  line-height: 13px;
}

.leftInfo {
  display: flex;
  align-items: center;

  text-transform: uppercase;
}

.title {
  font-weight: 700;
  margin-right: 40px;
  padding-bottom: 10px;
}

.menuLink {
  margin: 0 10px;
}

.menuItems {
  color: var(--grey-black);
  font-weight: 500;
  padding-bottom: 12px;
}

.activeMenu {
  border-bottom: 2px solid var(--decor-color);
  margin-bottom: -2px;
}

.leftInfo .activeMenu {
  margin: 0 10px -2px;
}
