.titleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 72px;
  background-color: var(--text-color);
  padding: 16px;
}

.content {
  height: calc(100vh - 233px);
  overflow-y: auto;
}

.title {
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: var(--text-white);
}

.contentText {
  padding: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
