.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}

.content {
  border-left: 3px solid var(--decor-color);
  padding: 15px;
  padding-left: 25px;
}

.title {
  margin-bottom: 10px;
}

.link {
  font-size: 0.6rem;
  color: var(--text-light);
}

/* Media */


@media (max-width: 405px) {
  .title{
    font-size: 17px;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
  }
  .content {
    border-left: 2px solid var(--decor-color);
    padding: 8px 15px;
    padding-left: 25px;
  }
}