.menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 30px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(-110vh);
  transition: 0.4s transform ease-in;
}

.menu_open {
  transform: translateY(0);
}

.menu__logo {
  position: relative;
  top: 1.5rem;
  height: 40px;
  object-fit: cover;
  margin-bottom: 40px;
}
.MenuIcons{
  width: 40px;
}
.menu__nav {
  display: flex;
  justify-content: flex-end;
}

.menu__nav_item {
  font-size: 1.15rem;
  line-height: 100%;
  margin-bottom: 20px;
  text-align: right;
  white-space: nowrap;
  transition: 0.5s color !important ;
}
.menu__nav ul li{
  cursor: pointer;
}

.ch {
  margin-left: 1px;
}

.menu__nav_item_active {
  color: var(--text-light);
}

.btn_login {
  margin-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.btn_login a {
  margin: 0 4px;
  height: 40px;
  display: flex;
  align-items: center;
}

.btn_login img {
  margin-right: 4px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social_row {
  display: flex;
  align-items: center;
}
.social_row div{
  margin: 0 0.5rem;
}
/* Media */
.menu__nav_item_active{
  margin-top: 80px;
}
@media(max-width: 410px){
  .menu__nav_item {
    font-size: 1.1rem;
    line-height: 100%;
    transition: 1s !important;
  }
}
@media(max-width: 300px){
  .menu__nav_item {
    text-align: left;
    font-size: 1.1rem;
    line-height: 100%;
    transition: 1s !important;
  }
  .menu__nav {
    display: flex;
    justify-content: center;
  }
}