.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 175px;
  margin-bottom: 40px;
}

.logo_menu {
  display: flex;
  align-items: center;
  font-size: 0.66rem;
}

.logo_menu img {
  width: 77px;
  height: 66px;
  cursor: pointer;
}

.logo_menu .menu {
  margin-left: 85px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  margin-bottom: -2px;
  margin-left: 3px;
}

.profile_link {
  margin: 0 4px;
  transition: 200ms border-color;
  border-bottom: 1px solid transparent;
}

.profile_link:hover {
  border-color: var(--text-white);
}

.profile_img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid var(--decor-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile_img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin-top: -1px;
  border-radius: 100%;
}
