.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 175px;
  margin-bottom: 40px;
}

.logo_menu {
  display: flex;
  align-items: center;
}

.ImgLogoMenu {
  width: 77px;
  height: 66px;
}

.ImgLogoMenu img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.userMenu {
  display: flex;
  align-items: center;
}

.lang {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;

  margin-left: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border: 1px solid var(--decor-color);
  border-radius: 20px;
  cursor: pointer;
}

.menuM {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background: #656878;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 550px) {
  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    margin-bottom: 20px;
  }

  .ImgLogoMenu {
    width: 53px;
    height: 45px;
  }
}
