.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 175px;
  margin-bottom: 40px;
}

.logo_menu {
  display: flex;
  align-items: center;
  font-size: 0.66rem;
}

.logo_menu img {
  width: 77px;
  height: 66px;
  cursor: pointer;
}

.logo_menu .menu {
  margin-left: 85px;
}

.lang {
  font-size: 0.5rem;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid var(--decor-color);
  cursor: pointer;
}

.lang div {
  margin-top: 1px;
}
