.modalBackGround{
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     background-color: rgba(0, 0, 0, 0.767);
     position: fixed;
     display: flex;
     justify-content: center;
     align-items: center;
}
.modalContainer{
     padding: 10px;
     background-color: #fff;
}
.BlockClose{
     display: flex;
     justify-content: flex-end;
}
.modalClose{
     cursor: pointer;
     position: relative;
     z-index: 10;
     right: 10px;
     top: 6px;
     font-size: 16px;
     font-weight: 200;
     display: flex;
     padding:  10px 15px;
     border-radius: 100%;
     border:  1px solid rgb(155, 155, 155);
     background-color: rgba(0,0,0,0);

}