.item {
  margin-bottom: 30px;
}

.titleContent {
  font-size: 0.7rem;
  font-weight: 500;
  cursor: pointer;
}

.content {
  margin-top: 15px;
}
 .titleContent span{
  cursor: pointer;
}
.item img {
  width: 200px;
  margin: 15px 0px;
  display: flex;
}
.text {
  white-space: pre-line;
  margin: 20px;
  font-size: 0.7rem;
  border: 1px solid var(--decor-grey);
  padding: 20px;
}

/* media */
@media(max-width: 830px) {
  .text{
    font-size: 16px;
    line-height: 1.1;
  }
  .item img {
    width: 250px;
    height: 250px;
    margin: 15px 0px;
    display: flex;
  }
}
@media(max-width: 530px) {
  .text{
    font-size: 13px ;
    line-height: 1.1;
  }
}