.title {
  display: none;
}

.contentText {
  padding: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 900px) {
  .title {
    padding: 16px;
    display: block;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
  }
}
