.title {
  transition: .5s;
  margin-top: 25px;
  margin-bottom: 45px;
}

.contentBlock {
  margin-bottom: 70px;
}

.buttons {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* @media */


@media(max-width:590px) {
  .title{
    font-size: 15px;
  }
} 
@media(max-width:500px) {
  .title{
    font-size: 13px;
  }
} 