.button {
  display: flex;
  align-items: center;
}

.buttonIcon {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.button span {
  cursor: pointer;
  margin: 0 4px;
}
.button span:hover {
  text-decoration: underline;
}
