.content {
  padding-bottom: 20px;
}

.content_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  border: none;
  background: transparent;
  width: 100%;
  cursor: pointer;
}

.content_btn_open {
  background: none;
  border: solid 1px #e0e1e4;
  font-size: 14px;
  color: #12121a;
  border-radius: 40px;
  padding-top: 12px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 11px;
  margin-top: 20px;
  cursor: pointer;
  margin-right: 15px;
}

.content__title {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.content__title div {
  color: var(--text-light);
  min-width: 30px;
  margin-right: 15px;
}

.content__body {
  padding-top: 30px;
  margin-left: 50%;
}
