.item {
  padding-bottom: 32px;
  border-bottom: 2px solid var(--decor-grey);
  margin-bottom: 50px;
}

.moduleRow {
  display: flex;
  align-items: center;
}

.itemNumber {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: var(--text-white);
  background: #656878;
  border-radius: 40px;

  margin-right: 50px;
}

.itemTitle {
  margin-top: 4px;
  flex: 1;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}

.itemNumberTitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--grey-black);
  margin-bottom: 8px;
}

.titleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--grey-black);
  cursor: pointer;
}

.chevron {
  margin-left: 15px;
  transition: 0.2s transform;
}
.chevronActive {
  transform: rotate(-180deg);
}

.contentWrapper {
  margin-left: 130px;
}

.content {
  padding-top: 40px;
}
