.item {
  padding-bottom: 32px;
  border-bottom: 2px solid var(--decor-grey);
  margin-bottom: 50px;
}

.moduleRow {
  display: flex;
  align-items: flex-end;
}

.itemNumber {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: var(--text-white);
  background: #656878;
  border-radius: 40px;

  margin-right: 50px;
}

.itemTitle {
  margin-top: 4px;
  flex: 1;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  flex-direction: column;
}

.itemNumberTitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--grey-black);
  margin-bottom: 8px;
}

.titleRow {
  word-wrap: break-word;
}
.BigtitleRow{
  word-wrap: break-word;
}

.btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--grey-black);
  cursor: pointer;
  margin-left: 5px;
}

.chevron {
  margin-left: 15px;
  transition: 0.2s transform;
}
.chevronActive {
  transform: rotate(-180deg);
}

.contentWrapper {
  margin-left: 130px;
}
@media (max-width: 1080px) {
  .itemNumberTitle {
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: var(--grey-black);
    margin-bottom: 4px;
  }
  .titleRow {
    font-size: 20px;
  }
  .BigtitleRow{
    font-size: 20px;
  }
  .btn span {
    font-size: 15px;
  }
  .itemNumber {
    width: 50px;
    height: 50px;
    font-size: 23px;
    line-height: 35px;
    margin-right: 40px;
    position: relative;
    bottom: 15px;
  }
}
@media (max-width: 800px) {
  .btn span {
    display: none;
  }
}
@media (max-width: 550px) {
  .item{
    border-bottom: 1px solid var(--decor-grey);
  }
}
@media (max-width: 540px) {
  .itemNumber {
    width: 40px;
    height: 40px;
    font-size: 19px;
    margin-right: 30px;
    line-height: 35px;
    bottom: 10px;
  }
  .itemNumberTitle {
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: var(--grey-black);
    margin-bottom: 6px;
  }
  .titleRow {
    font-size: 17px;
    line-height: 20px;
  }
  .BigtitleRow{
    font-size: 17px;
    line-height: 20px;
  }
  .chevron{
    position: relative;
    bottom: 10px;
  }
}
@media (max-width: 473px) {
  .titleRow {
    font-size: 15px;
  }
  .BigtitleRow{
    font-size: 15px;
  }
  .itemNumber {
    width: 37px;
    height: 37px;
    margin-right: 27px;
  }
  .itemNumberTitle {
    font-size: 12px;
    position: relative;
    top: 4px;
  }
}
@media (max-width: 390px) {
  .titleRow {
    font-size: 12px;
    line-height: 15px;
  }
  .BigtitleRow {
    font-size: 10px;
    line-height: 15px;
  }
  .itemNumber {
    bottom: 0;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    font-size: 13px;
    margin-bottom: 8px;
  }
  .itemNumberTitle {
    font-weight: 400;
    font-size: 10px;
    color: var(--grey-black);
  }
}
