.item {
  padding-bottom: 32px;
  border-bottom: 2px solid var(--decor-grey);
  margin-bottom: 50px;
}

.moduleRow {
  display: flex;
  align-items: flex-end;
}

.itemNumber {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: var(--text-white);
  background: #656878;
  border-radius: 40px;

  margin-right: 50px;
}

.itemTitle {
  margin-top: 4px;
  flex: 1;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  flex-direction: column;
}

.itemNumberTitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--grey-black);
  margin-bottom: 8px;
}

.titleRow {
  word-wrap: break-word;
}

.btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--grey-black);
  cursor: pointer;
  margin-left: 5px;
}

.chevron {
  margin-left: 15px;
  transition: 0.2s transform;
}
.chevronActive {
  transform: rotate(-180deg);
}

.contentWrapper {
  margin-left: 130px;
}

.heightContentWrapper {
  height: 10px;
}

@media (max-width: 800px) {
  .btn {
    padding: 5px;
    margin-left: 0px;
  }
  .btn span {
    display: none;
  }

  .moduleRow {
    align-items: center;
  }

  .itemNumber {
    width: 50px;
    height: 50px;

    font-size: 22px;
    line-height: 22px;

    border-radius: 40px;

    margin-right: 35px;
  }

  .contentWrapper {
    margin-left: 88px;
  }
}

@media (max-width: 450px) {
  .moduleRow {
    align-items: flex-start;
  }

  .itemNumber {
    margin-top: 3px;
    width: 24px;
    height: 24px;

    font-size: 10px;
    line-height: 10px;

    margin-right: 8px;
  }

  .itemTitle {
    flex-direction: column-reverse;
    margin-top: 0;
    font-size: 18px;
    line-height: 20px;
  }

  .titleRow {
    margin-bottom: 4px;
  }

  .itemNumberTitle {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0px;
  }

  .contentWrapper {
    margin-left: 0px;
  }

  .heightContentWrapper {
    display: none;
  }
}
