.error_page {
  max-height: calc(100vh - 175px);
  height: 100%;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  padding: 10px 35px;
  border-left: 4px solid var(--decor-color);
}

.error h2 {
  color: var(--text-color);
  border-left: none !important;
  padding-left: 0 !important;
  margin-bottom: 15px;
  font-size: 2rem;
}

.error p {
  padding-bottom: 10px;
}
