.item_wrapper {
  padding-bottom: 32px;
  border-bottom: 2px solid #e0e1e4;
}

.item {
  transition: transform 0.5s ease;
  cursor: pointer;
}

.item_img {
  margin-bottom: 32px;
}

.item_img img {
  object-fit: cover;
  width: 100%;
  height: 320px;
}

.item_title {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 32px;
}

.item_descr {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 32px;
  color: var(--text-light);
}

.item_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item_row .price {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}



.item:hover {
  transform: translateY(-10px);
}

@media (max-width: 990px) {
  .item_img {
    margin-bottom: 25px;
  }

  .item_subTitle {
    font-size: 0.4rem;
  }

  .item_title {
    font-size: 1rem;
    margin-bottom: 15px;
  }

  .item_descr {
    font-size: 0.5rem;
  }
}

@media (max-width: 460px) {
  .item_img {
    margin-bottom: 10px;
  }

  .item_subTitle {
    font-size: 0.38rem;
  }

  .item_title {
    font-size: 0.8rem;
    margin-bottom: 5px;
  }

  .item_wrapper {
    padding-bottom: 25px;
  }
  .item_descr {
    font-size: 0.48rem;
  }
}
