.item_wrapper {
  padding-bottom: 32px;
  border-bottom: 2px solid #e0e1e4;
}

.item {
  transition: transform 0.5s ease;
  cursor: pointer;
}
.item_row .price{
  font-size: 20px;
}
.item_img {
  margin-bottom: 32px;
}

.item_img img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.item_title {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 35px;
  margin-bottom: 32px;
}

.item_descr {
  color: var(--text-light);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 10px 0px 20px 0px;
}
.startCours{
  width: 120px;
  margin-left: 50px;
}
.item_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item_row .price {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}


.item:hover {
  transform: translateY(-10px);
}
@media (max-width: 1180px) {
  .startCours {
    font-size: 10px;
  }
}
@media (max-width: 990px) {
  .item_img {
    margin-bottom: 25px;
  }

  .item_subTitle {
    font-size: 0.4rem;
  }

  .item_title {
    font-size: 1rem;
    margin-bottom: 15px;
  }

  .item_descr {
    font-size: 0.5rem;
  }
}

@media (max-width: 460px) {
  .item_img {
    margin-bottom: 10px;
  }

  .item_subTitle {
    font-size: 0.38rem;
  }

  .item_title {
    font-size: 0.8rem;
    margin-bottom: 5px;
  }

  .item_wrapper {
    padding-bottom: 25px;
  }
  .item_descr {
    font-size: 0.45rem;
  }
}
@media (max-width: 320px) {
  .item_img img{
    height: 180px;
  }
}
