.link {
  color: var(--text-light);
  font-weight: 400;
}

.my_cources {
  margin-top: 20px;
}

.title_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon_exit {
  height: 24px;
  object-fit: contain;
  cursor: pointer;
  margin-left: 5px;
}

@media (max-width: 700px) {
  .my_cources {
    font-size: 0.8rem;
  }
}

@media (max-width: 460px) {
  .my_cources {
    font-size: 0.75rem;
  }

  .icon_exit {
    height: 18px;
  }
}
