.link_back {
  cursor: pointer;
  transition: 0.2s color;
  color: var(--grey-black);
}

.link_back:hover {
  color: var(--text-hover-color);
}

.link_back img {
  transition: 0.2s filter;
}

.link_back:hover img {
  filter: var(--filter-green);
}

.cource_title {
  transition: 0.5s;
  font-weight: 700;
  font-size: 2rem;
  margin: 60px 0;
}

.cource_img {
  margin: 50px 0;
}
.cource_modules h2{
  transform: 0.5s;
}

.cource_img img {
  transition: 0.5s;
  height: 450px;
  width: 100%;
  object-fit: cover;
}

.cource_descr {
  margin-bottom: 30px;
  /* border-bottom: 1px solid var(--text-light); */
  color: var(--text-light);
  font-size: 0.8rem;
  width: 80%;
}

.cource_modules {
  padding-bottom: 40px;
  border-bottom: 1px solid var(--decor-grey);
  margin-bottom: 30px;
}

.cource_modules h2 {
  margin-bottom: 30px;
}

/* Meida */




@media(max-width:700px) {
  .cource_title {
    font-weight: 700;
    font-size: 1.3rem;
    margin: 50px 0;
  }
  .cource_img{
    display: flex;
    justify-content: center;
  }
  .cource_img img{
    height: 250px;
  }
  .cource_modules h2{
    margin-bottom: 50px;
    font-size: 20px;
  }
  .cource_descr{
    font-size: 16px;
  }
}

@media(max-width:500px) {
  .cource_modules h2{
    font-size: 20px;
  }
  .cource_img img{
    height: 200px;
  }
  .cource_title{
    font-size: 1.1rem;
  }
  .link_back{
    font-size: 15px;
  }
  .arrow_left{
    width: 5px;
    height: 5px;
  }
  .cource_descr{
    width: 100%;
  }
}

@media(max-width:350px) {
  .cource_modules h2{
    font-size: 17px;
  }
  .cource_descr{
    font-size: 13px;
    margin-bottom: 18px;
  }
  .cource_img img{
    height: 150px;
  }
  .cource_title{
    font-size: 0.9rem;
  }
}