.cource_img {
  margin: 50px 0;
}

.cource_img img {
  height: 450px;
  width: 100%;
  object-fit: cover;
}

.cource_descr {
  margin-bottom: 30px;
  /* border-bottom: 1px solid var(--text-light); */
  color: var(--text-light);
  font-size: 0.8rem;
  width: 50%;
}

.cource_modules {
  padding-bottom: 40px;
  border-bottom: 1px solid var(--decor-grey);
  margin-bottom: 30px;
}

.cource_modules h2 {
  margin-bottom: 30px;
}