.cource_title {
  font-weight: 500;
  font-size: 60px;
  line-height: 69px;
  margin: 100px 0;
  width: 65%;
}

.cource_img {
  padding-bottom: 100px;
  border-bottom: 2px solid var(--decor-grey);
  margin-bottom: 100px;
  height: 570px;
}

.cource_img img {
  transition: 0.5s;
  height: 570px;
  width: 100%;
  object-fit: cover;
}

.cource_descr {
  color: var(--text-light);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  padding-right: 10px;
  padding-bottom: 100px;
  border-bottom: 2px solid var(--decor-grey);
  margin-bottom: 100px;
}
.cource_descr p {
  width: 50%;
}

/* Meida */

@media (max-width: 1050px) {
  .cource_title {
    font-size: 25px;
  }
}

@media (max-width: 723px) {
  .body {
    transition: 0.5s;
    min-height: calc(80vh - 175px);
  }
  h1 {
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .body {
    transition: 0.5s;
    min-height: calc(80vh - 175px);
  }
  .cource_title {
    font-weight: 700;
    margin: 50px 0;
  }
  .cource_img {
    display: flex;
    justify-content: center;
  }

  .cource_img img {
    height: 250px;
  }

  .cource_modules h2 {
    margin-bottom: 50px;
    font-size: 20px;
  }

  .cource_descr {
    font-size: 13px;
  }
}

@media (max-width: 596px) {
  h1 {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .body {
    transition: 0.5s;
    min-height: calc(80vh - 175px);
  }
  .cource_modules h2 {
    font-size: 20px;
  }
  h1 {
    font-size: 13px;
  }
  .cource_img img {
    height: 200px;
  }

  .cource_title {
    font-size: 15px;
  }

  .link_back {
    font-size: 15px;
  }

  .arrow_left {
    width: 5px;
    height: 5px;
  }

  .cource_descr {
    width: 100%;
  }
}
@media (max-width: 414px) {
  .cource_title {
    font-size: 12px;
  }
}

@media (max-width: 350px) {
  .cource_modules h2 {
    font-size: 15px;
  }
  .body {
    transition: 0.5s;
    min-height: calc(80vh - 175px);
  }
  .cource_descr {
    font-size: 10px;
    margin-bottom: 18px;
  }

  .cource_img img {
    height: 150px;
  }
  .cource_title {
    font-size: 100px;
  }
}
