.login {
  position: relative;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

}
.login_form {
  width: 500px;
  background-color: #fff;
  margin-bottom: 30px;
  transition: 0.5s;
  padding: 50px 90px;
}
.fGPassword {
  cursor: pointer;
  font-size: 13px;
  position: relative;
  bottom: 20px;
  color: green;
  transition: .2s color;
}
.fGPassword:hover{
  color: rgb(5, 169, 5);
}

.login_title {
  font-weight: 600;
  transition: 0.5s;
  margin-bottom: 30px;
}

.login_input {
  padding: 0px !important;
  width: 100%;
  transition: 0.5s;
  margin-bottom: 30px;
}

.block_inputs{
  width: 100%;
  margin: 20px 0;
}

.login_button{
 transition: 0.5s; 
}

@media (max-width: 500px) {
  .login_input{
    width: 200px;
  }
  .login_title{
    position: relative;
    font-size: 20px;
  }
  .login_form {
    padding: 55px 80px;
  }
  .login_button{
    font-size: 13px;
  }
}

@media (max-width: 430px) {
  .block_inputs input{
    width: 200px !important;
  }
  .login_form {
    padding: 40px 60px;
  }
  .login_button{
    font-size: 13px;
  }
}
@media (max-width: 390px){
  .login_form {
    transition: 0.5s;
    padding: 20px 40px;
    border: 1px solid var(--decor-grey);
    margin-bottom: 100px;
  }
  .login_title{
    margin-top: 10px;
  }
}
@media (max-width: 320px){
  .login_form {
    transition: 0.5s;
    padding: 20px;
    border: 1px solid var(--decor-grey);
    margin-bottom: 100px;
  }
  .block_inputs input{
    width: 170px !important;
  }
  .login_title{
    margin-top: 10px;
    font-size: 17px;
  }
}