.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-height: calc(100vh);
  min-height: 400px;
}

.right {
  grid-column-end: 2;
}

.workSpace {
  grid-column-start: 2;
  grid-column-end: 5;
  padding-left: 50px;
}
