.decor {
  width: 2px;
  height: 16px;
  margin-left: 11px;
  background-color: var(--decor-grey);
  border-radius: 2px;
}

.icon_row {
  display: flex;
  align-items: flex-start;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 6px;
  margin-top: 14px;
}

.icon {
  position: relative;
  margin-right: 16px;
  width: 24px;
  height: 24px;
}

.type {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--grey-black);

  margin-top: 4px;
}
  @media (max-width: 1080px) {
    .icon_row {
      font-size: 0.61rem;
      margin-top: 15px;
      margin-bottom: 8px;
    }
    .item__block {
      position: relative;
      right: 41px;
    }
  }
  @media (max-width: 570px) {
    .item__block {
      position: relative;
      right: 80px;
    }
    .icon_row {
      font-size: 0.61rem;
      margin-top: 15px;
      margin-bottom: 8px;
    }
    .icon {
      margin-right: 16px;
      width: 17px;
      height: 17px;
    }
    .item__block {
      position: relative;
      right: 41px;
    }
  }
  @media (max-width: 535px) {
    .item__block {
      position: relative;
      right: 72px;
    }
  }
  @media (max-width: 390px) {
    .item__block {
      position: relative;
      right: 96px;
    }
    .decor {
      height: 15px;
    }
    .icon_row {
      font-size: 0.5rem;
    }
    .type {
      margin: 0px;
    }
  }
