.icon_row {
  display: flex;
  transition: 0.5s;
  align-items: center;
  font-size: 0.60rem;
  margin-top: 10px;
  margin-bottom: 8px;
}

.icon {
  margin-right: 15px;
  transition: 0.5s;
  width: 20px;
  height: 20px;
}

/* Meida */


@media(max-width: 600px) {
  .icon_row {
    font-size: 0.61rem;
    margin-top: 15px;
    margin-bottom: 8px;
  }
  .icon{
    width: 15px;
    height: 15px;
  }
}